ul{
  font-family: 'Roboto', 'SansSerif';
  color: white;
  background-color: #32383e;
  list-style-type: none;
  margin: 3px;
  border-radius: 4px;
  padding: 15px;
  width: 400px;
}

.sw-group{
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 50px;
}

li {
  padding: 3px;
}

