<div *ngIf="people_content.loading; else elseBlock">
  Loading ...
</div>
<ng-template #elseBlock>
  <div class="sw-group" *ngIf="people_content.people_content && people_content.people_content.results ">
    <ul *ngFor="let people of people_content.people_content.results">
      <li >
        Name: {{people.name}}
      </li>
      <li >
        Eye Color: {{people.eye_color}}
      </li>
      <li >
        Gender: {{people.gender}}
      </li>
      <li>
        Films:
      </li>
      <li *ngFor="let films of people.films">
        {{films}}
      </li>
    </ul>

  </div>
</ng-template>


